//---===Variables===---//

//---colors---//
$intro-signup-color: hsl(217, 28%, 15%);
$main-color: hsl(218, 28%, 13%);
$footer-color: hsl(216, 53%, 9%);
$testimonials-color: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-Red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

//---fonts---//
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$padding: 1.5em;

//---===Mixins===---//

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $white;
  }
}

@mixin input-reset {
  border: none;
  border-radius: 100em;
}

@mixin btn {
  @include input-reset();
  background: linear-gradient(to right, $cyan , $blue );
  color: $white;
  font: {
    family: $secondary-font;
    weight: 700;
  }
}

//---===Styles===---//

*,
*::before,
*::after { box-sizing: border-box; }

html { font-size: 14px; }

body {
  background-color: $main-color;
  font-family: $primary-font;
  color: $white;
  display: grid;
  grid-template-rows: repeat(6, auto);
  align-items: center;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  display: block;
}

.intro,
.signup { background-color: $intro-signup-color; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
}

.navbar__logo { width: 80px; }

.navbar__links {
  display: flex;
  font-size: 0.9rem;
  gap: 1.75em;
}

.navbar__links,
.footer__links,
.footer__social-medias { @include list-reset() }

.navbar__links,
.header__title,
.feature-box__title,
.productive-section__title,
.signup__title { font-family: $secondary-font; }

.header {
  $bg-pic-height: 141px;
  background:
    url('../../images/bg-curvy-mobile.svg')
    no-repeat center #{370px - $bg-pic-height},
    linear-gradient(to bottom, $intro-signup-color 370px, $main-color 370px);
  text-align: center;
  padding: 2.4em;
}

// @media (min-width: 500px) {
//   .header {
//     background: url('../../images/bg-curvy-desktop.svg') no-repeat center bottom;
//     background-size: contain;
//   }
// }

.header__title { font-size: 1.75rem; }
.header__subtitle { padding: 0.25em; }
.header__title { line-height: 1.5em; }

.header__btn {
  @include btn();
  font-size: 1rem;
  width: 245px;
  padding: 1.25em;
  margin-top: 1em;
  box-shadow: 0 0 10px -5px black;
}

.features {
  margin-top: 5.5em;
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.feature-box__image {
  width: 60px;
  margin-bottom: 1em;
}

.feature-box__title { font-size: 1.25rem; }

.feature-box__title,
.feature-box__subtitle { margin: 0;}

.productive-section {
  padding: #{$padding + 0.5em};
  margin-top: 6em;
}

.productive-section__title {
  font-size: clamp(1.25rem, 1.25rem, 1.25rem);
}

.productive-section__link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: $cyan;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: $cyan;
    width: 150px;
    height: 1px;
    bottom: -5px;
  }
}

.testimonials {
  // grid-row: 4 / 6;
  // grid-column: 1;
  display: grid;
  gap: 1.5em;
  padding: 6em #{$padding * 2};
  padding-bottom: clamp(4em, 80%, 20em);
}

.testimonial-box {
  background-color: $testimonials-color;
  border-radius: 0.25em;
  padding: 1.75em 1.3em 1.5em ;
  box-shadow: 0 0 15px -13px gray;
}

.testimonial-box:first-of-type {
  position: relative;

  &::before {
    content: '';
    background: url('../../images/bg-quotes.png') no-repeat;
    background-size: contain;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -18px;
    left: 6px;
    z-index: -1;
  }
}


.testimonial-box__customer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 0.75em;
}

.testimonial-box__customer__image {
  grid-row: span 2;
  width: 30px;
  border-radius: 100%;
}

.testimonial-box__customer__name { align-self: end; }
.testimonial-box__customer__position { align-self: start; }

.testimonial-box__context,
.testimonial-box__customer__name,
.testimonial-box__customer__position {
  font-size: 0.7rem;
}

  .testimonial-box__context { 
    margin: 0 0 1em 0;
    font-size: 0.8rem;
}

.testimonial-box__customer__name { font-weight: 700; }

.signup {
  text-align: center;
  border-radius: 0.5em;
  padding: 1.25em 2em 2.25em;
  // grid-row: 5 / 7;
  // grid-column: 1;
  width: 90%;
  z-index: 10;
  margin: -50% auto -50%;
  box-shadow: 5px 5px 15px -5px black;

}

.signup__title { font-size: 1.25rem; }

.signup__form {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  margin-top: 2em;
}

.signup__form__submit-btn {
  @include btn();
  padding: 1.25em 1.5em;
}

.signup__form__email-input {
  @include input-reset();
  font-size: 0.8rem;
  padding: 1.25rem 1.5rem;
 
  &::placeholder { color: lightslategray; }
}

.footer {
  background-color: $footer-color;
  display: grid;
  gap: 1.25em;
  // grid-row: 6 / -1;
  // grid-column: 1;
  padding: $padding;
  padding-top: clamp(4em, 80%, 15em);


  ul { 
    margin-top: 2.75em;
  }
}

.footer__logo {
  max-width: 150px; 
  margin: 0.75em;
}

.footer__location,
.footer__phone-number,
.footer__email,
.footer__social-medias {
  display: flex;
  align-items: center;

  img {
    width: 15px
  }
}

.footer__location img {
  align-self: start;
  margin-top: 5px
}

.footer__location,
.footer__phone-number,
.footer__email {
  gap: 1.5em;
}

.footer__links li + li {
  margin-top: 1em;
}

.footer__social-medias {
  margin: 0 auto;
  gap: 2em;
  
  li {
    position: relative;
  }

  li::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 100%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}




//---===MediaQueries===---//