//---===Variables===---//

//---colors---//
$intro-signup-color: hsl(217, 28%, 15%);
$main-color: hsl(218, 28%, 13%);
$footer-color: hsl(216, 53%, 9%);
$testimonials-color: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-Red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

//---fonts---//
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$padding: clamp(1.5em, 5vw, 5em);

//---===Mixins===---//

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $white;
  }
}

@mixin input-reset {
  border: none;
  border-radius: 100em;
}

@mixin btn {
  @include input-reset();
  background: linear-gradient(to right, $cyan , $blue );
  color: $white;
  font: {
    family: $secondary-font;
    weight: 700;
  }
  cursor: pointer;
}

//---===Styles===---//

*,
*::before,
*::after { box-sizing: border-box; }

html { font-size: 14px; }

body {
  background-color: $main-color;
  font-family: $primary-font;
  color: $white;
  display: grid;
  grid-template-rows: repeat(6, auto);
  margin: 0;
  min-height: 100vh;
}
p,h1,h2 {
  line-height: 1.5em;
}

img {
  max-width: 100%;
  display: block;
}

.intro {
  $bg-pic-height: 141px;
  background:
    url('../../images/bg-curvy-mobile.svg')
    no-repeat center #{420px - $bg-pic-height},
    linear-gradient(to bottom, $intro-signup-color 420px, $main-color 420px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
}

.navbar__logo { width: clamp(80px, 15vw, 150px); }

.navbar__links {
  display: flex;
  font-size: .9rem;
  font-size: clamp(.9rem, 2vw, 1.1rem);
  gap: clamp(1.75rem, 4vw, 5rem);
}

.navbar__links,
.footer__links,
.footer__social-medias { @include list-reset() }

.navbar__links,
.header__title,
.feature-box__title,
.productive-section__title,
.signup__title { font-family: $secondary-font; }

.header {
  text-align: center;
  padding: 2.4em;
}


.header__title {
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  line-height: 1.5em;
}

.header__subtitle {
  font-size: clamp(1rem, 3vw, 1.2rem);
  padding: .25em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.header__btn {
  @include btn();
  font-size: 1rem;
  width: 100%;
  max-width: 240px;
  padding: 1.15em;
  margin-top: 1em;
  box-shadow: 0 0 10px -5px black;
}

.features {
  margin: 5em auto 0;
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.feature-box {
  max-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.feature-box__image {
  width: min-content;
  margin-bottom: 1em;
}

.feature-box__title { font-size: 1.25rem; }

.feature-box__title,
.feature-box__subtitle { margin: 0;}

.productive-section {
  padding: $padding;
  margin-top: 7em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.productive-section__image {
  flex: .5 1 400px;
}

.productive-section__context {
  flex: 0 1 480px;
}

.productive-section__title {
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  max-width: 400px;
}

.productive-section__link {
  display: flex;
  align-items: center;
  gap: .5em;
  text-decoration: none;
  color: $cyan;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: $cyan;
    width: 150px;
    height: 1px;
    bottom: -5px;
  }
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 6em #{$padding + 2em};
  padding-bottom: 23em;
  margin-top: 5em;
}

.testimonial-box {
  background-color: $testimonials-color;
  border-radius: .25em;
  padding: 1.75em 1.3em 1.5em ;
  box-shadow: 0 0 15px -13px gray;
  flex: 0 1 90%;
}

.testimonial-box:first-of-type {
  position: relative;

  &::before {
    content: '';
    background: url('../../images/bg-quotes.png') no-repeat;
    background-size: contain;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -18px;
    left: 6px;
    z-index: -1;
  }
}

.testimonial-box__customer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 .75em;
}

.testimonial-box__customer__image {
  grid-row: span 2;
  width: 30px;
  border-radius: 100%;
}

.testimonial-box__customer__name { align-self: end; }
.testimonial-box__customer__position { align-self: start; }

.testimonial-box__customer__name,
.testimonial-box__customer__position {
  font-size: clamp(.7rem, 2.5vw, .8rem);
}

.testimonial-box__context { 
  font-size: clamp(.8rem, 3vw, 1.1rem);
  margin: 0 0 1em 0;
}

.testimonial-box__customer__name { font-weight: 700; }

.signup {
  background-color: $intro-signup-color;
  align-self: center;
  text-align: center;
  border-radius: .5em;
  padding: 1.75em clamp(2em, 5vw, 5em) 2.75em;
  width: 90%;
  max-width: 800px;
  z-index: 10;
  margin: -50% auto -50%;
  box-shadow: 5px 5px 15px -7px black;
}

.signup__title {
  font-size: clamp(1.25rem, 5vw, 2rem);
}

.signup__subtitle {
  max-width: 680px;
  margin: 0 auto;
}

.signup__form {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  margin-top: 2em;
}

.hidden-label {
  position: absolute;
  overflow: hidden;
  background-color: white;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.signup__form__submit-btn {
  @include btn();
  padding: 1.25em 1.5em;
}

.signup__form__email-input {
  @include input-reset();
  font-size: .8rem;
  padding: 1.25rem 1.5rem;
 
  &::placeholder { color: lightslategray; }
}

.footer {
  font-size: 1.15rem;
  background-color: $footer-color;
  display: grid;
  gap: 1.25em;
  padding: $padding;
  padding-top: clamp(4em, 80%, 15em);
  
  ul { margin-top: 2.75em; }
}

.footer__logo {
  grid-column: 1 / -1;
  max-width: 150px; 
  margin: .75em;
}

.footer__location,
.footer__phone-number,
.footer__email,
.footer__social-medias {
  display: flex;
  align-items: center;

  img { width: 15px; }

  p { margin: 0; }
}

.footer__location {
  p { max-width: 350px; }

  img {
    align-self: start;
    margin-top: 5px;
  }
}

.footer__location,
.footer__phone-number,
.footer__email {
  gap: 1.5em;
}

.footer__links li + li {
  margin-top: 1em;
}

.footer__social-medias {
  margin: 0 auto;
  gap: 2em;
  
  li {
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
  }

  li::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 100%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

//---===MediaQueries===---//

@media (min-width: 376px) {
  .intro {
    background: url('../../images/bg-curvy-desktop.svg') no-repeat center bottom, $intro-signup-color;
    background-size: contain;
  }
 
  .header-container {
    max-width: 620px;
    margin: 0 auto;
  }

  .features {
    max-width: 1000px;
    flex-flow: row wrap;
    align-items: baseline;
  }

  .feature-box:nth-child(even) {
    margin-left: auto;
  }  
}

@media (min-width: 801px) {
  .testimonial-box { flex: 0 1 45%; }
  
  .footer {
    align-items: start;
    gap: 3em 2em;
    grid-template-columns: 3fr 1fr 1fr;
    ul { margin: 0; }
  }
  
  .footer__phone-number,
  .footer__email { grid-column: 1; }

  .footer__links {
    grid-row: 2 / span 2;
    grid-column: 3;
  }
  
  .footer__links:nth-child(5) { grid-column:2; }
}

@media (min-width: 900px) {

  .signup__form {
    flex-direction: row;
    gap: 2.5em;
  }

  .signup__form__email-input,
  .signup__form__submit-btn { padding: 1em 1.5em; }
  
  .signup__form__email-input { flex: 1 1 85%; }
  .signup__form__submit-btn { flex: 1 1 35%; }
}

@media (min-width: 1100px) {

  .testimonials {
    gap: 2.25em;
    margin-top: 0;
  }
  .testimonial-box {
    flex: 0 1 30%;
    padding: 2.5em 1.75em 2em;
  }

  .footer { grid-template-columns: 5fr 2fr 2fr; }
}

@media (min-width: 1440px) {
  .footer {
    grid-template-columns: 5fr 4fr repeat(3, 2fr);
    gap: 0 2em; 
  }
  
  .footer__phone-number {
    grid-row: 2 / span 1;
    grid-column: 2;
  }

  .footer__email {
    grid-row: 3 / span 1;
    grid-column: 2;
  }
  
  .footer__links { grid-row: span 4; }
  .footer__links:nth-child(5) { grid-column: 3; }
  .footer__links:nth-child(6) { grid-column: 4; }

  .footer__social-medias,
  .footer__location { grid-row: span 2; }
}
